.footer{
    width: 100%;
    background-color: rgb(255, 255,255);
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: justify;
  }
  
  
  .headericon{
    margin-right:20px;
    color: #D0344E;
  }
  
  .footercontent{
    margin-top: 15px;
  }
  
  .footericon{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .footericon a{
    text-decoration: none;
    color: #D0344E;
  }
  